# IntelliJ files
.idea/
*.iml
workspace.xml
shelf/

# NZ project data
nz/data/
nz/logs/
nz/tmp/

nz/envs/mnt


# Query files
queries/

# Datasource local storage
dataSources/
dataSources.local.xml

# Editor HTTP requests
httpRequests/
